modules = ["nodejs-20"]
[agent]
expertMode = true

[userenv]

[userenv.shared]
NODEJS_VERSION = "20"
PORT = "3000"
QZ_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDF0a8t23gH+LBd
l7DTyIscteV0/sRXeJ6lTHk31UOQpDtTMk9zj/Ivw13BfCoXLQ+7NAQ5Jh2AVf2S
vxUreKo5fGGqfrPeZcXQiu+bWpCF7NIL5lunmLs2TucehG6Y9F+bi0/G6W4DWl42
SJkGQAh0wiAQ013NBkjBTmLTTHPPvP/NaRi9hoAttKROMQKYs4u74A5ENQep/ARv
1aOkwBREdsKdfAL1EQ1T3y08cJZ2e/Bvu0dlTrC+x/EwPd0OjVrUxjyImizGT9iQ
1VF/jfrOy4NS3zez/+Q7vxozO+5FDNujAB6Te9+2wAcRpqtBX9pN2oob0zRlm+O8
a1687OINAgMBAAECggEAConRzpxDLWQ0O72EWrlI9UNDcWjOcOfTcR7n05pK5SkP
+ANVdDnrlFvQt36z3KmL4v8xvRGov1jVZLyalhxG2pUjvColJD3rvIu07rkeZeQT
NIsVwDyaDJnwz2a4CvH0ffF9Uy1wV5a4L3rNRtChIrHiH24DMJRFyqEwZpf2EM+l
WdDlHFXCs6VEEm5YjkplY7RMfyNxL83vzB29bPINcMwdbnKx736eOtuZOqqCgTNq
8fO0LqpXh8tcRbkhojehZY6iHN6SO5aJ/WOFnd5rKnlwim1hMBVIXspwIF6eSrCx
+HZU3FSGL8tYfbthyt2xmv3n+edyFjbFvfzZUo+VCQKBgQD25Ob3wsqsCOassSe+
+EhjAWaOeXh8IHy/4xAtGoxzg1boMZgz2TYd5EIHMfXMgepny8dhVe3jmc1csiNk
W1xAuAQBWjwzQ18s4DyVaMfHjgieRS2o+FqCmZAe6pmlxay25jFh+lymsba76L8x
OiEZIZG33xG8niCXTyLx/WvOjwKBgQDNHW424vYq9F0qhdXEVnASIxtigOD85ywZ
I1Dcp6rfwEbxWusQgBLUJhtCnjkaJQRl4cp8JwxEs7/d4ltvaTyqq36md36lOcEv
+O4oQ0FPMop1URvn+9f9qZp08WvHcsoGP1oNywcV5fslPtAlP0D3+CmDmTxcO/Sh
FdY8ZbBTowKBgQC6X5D69tCHjTCUrCaUwlfiZOxGIOwSx3NkZsOPSLs9d6fjH40F
lrKDXgt54vzppCiOsgWQNI2fgjrD/rU4zL6XHFHps3Q+Pl1aQut43d/xhAZ9cztE
kjXA4Ksqq23Q9aeraZldnODT9NM8hjXNs1PI5M5bPsjk2XlAvzxh8CuxgQKBgAxw
14l+tJ2gWrJEkdWpxHxlIrkTxhGw18zihnoLtWKC4AqtkApdKkcx1H9y51W9nwmq
60Qifi0AlgeYPiGAyYw0gKcKImVVHnGRcKiCg8iQ8TLya3XjoZMiIVssdXQQc05z
szuY7+IVI+l7aNaJgqBHrgTsW2vguxK2J1tcc5hvAoGBANGtcY1TRSKnRjMmHnZQ
o5X95Nfxc+jveIapYFMeUEXim1V0OpyG8o9IrKnwJwAq36Ryg8+71jIvCtgywAvT
iR0REJhK/gktv2vzPoUEonjfDnLWRE95E8/8uznnXTLqKjIecL3SVG0Aq9okeeRe
4hYj5D9YBL0cfRpHUMHm+xkK
-----END PRIVATE KEY-----
"""
QZ_PUBLIC_KEY = """
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxdGvLdt4B/iwXZew08iL
HLXldP7EV3iepUx5N9VDkKQ7UzJPc4/yL8NdwXwqFy0PuzQEOSYdgFX9kr8VK3iq
OXxhqn6z3mXF0Irvm1qQhezSC+Zbp5i7Nk7nHoRumPRfm4tPxuluA1peNkiZBkAI
dMIgENNdzQZIwU5i00xzz7z/zWkYvYaALbSkTjECmLOLu+AORDUHqfwEb9WjpMAU
RHbCnXwC9RENU98tPHCWdnvwb7tHZU6wvsfxMD3dDo1a1MY8iJosxk/YkNVRf436
zsuDUt83s//kO78aMzvuRQzbowAek3vftsAHEaarQV/aTdqKG9M0ZZvjvGtevOzi
DQIDAQAB
-----END PUBLIC KEY-----
"""

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
